<a href="https://colab.research.google.com/github/Felomina75/Python_Workshop/blob/master/Day_1_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. Write a program to print the triangle**
#**i/p  4**
#**1**
#**2    3**
#**3    4   5**
#**4    5   6   7**

In [1]:
n = int(input('Enter the number'))
for i in range(n+1):
    for j in range(i):
        k=i+j
        print (k , end=" ")
    print('')

Enter the number5

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

#**2.Enter number 4**

#*
#* *
#* * *
#* * * *

In [2]:
n = int(input('Enter the number'))
for i in range(n+1):
    for j in range(i):
        print ('*  ' , end="")
    print('')

Enter the number6

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

#**3. Enter number 5**

#**5**
#**4 5**
#**3 4 5**
#**2 3 4 5**
#**1 2 3 4 5**

In [3]:
n= int(input('Enter the number'))
for i in range(n+1):
    k=n-i+1
    for j in range(i):
        print (k, end=" ")
        k=k+1
    print('')

Enter the number6

6
5 6
4 5 6
3 4 5 6
2 3 4 5 6
1 2 3 4 5 6

#**4. Enter number 5**

#**5 4 3 2 1**
#**4 3 2 1**
#**3 2 1**
#**2 1**
#**1**

In [4]:
n= int(input('Enter the number'))
for i in range(n+1):
    k=n-i
    for j in range(n-i):
        print (k, end=" ")
        k=k-1
    print('')

Enter the number7
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#**5. Enter number 4**

#**1 2 3 4**
#**2 3 4**
#**3 4**
#**4**
#**3 4**
#**2 3 4**
#**1 2 3 4**

In [5]:
n= int(input('Enter the number'))
for i in range(n+1):
    k=i+1
    for j in range(n-i):
        print (k, end=" ")
        k=k+1
    if (i+1) != (n+1):
        print('')
for i in range(n-1):
    k=n-i-1
    for j in range(i+2):
        print (k, end=" ")
        k=k+1
    print('')

Enter the number5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#**6.Find the length of a string without using len functions**

In [6]:
string=input("Enter string:")
count=0
for i in string:
    count=count+1
print("Length of string is:")
print(count)

Enter string:Good
Length of string is:
4

#**7. Find the no of words and characters in a string**

In [7]:
string=input("Enter string:")
char=0
word=0
for i in string:
      if(i==' '):
            if(char!=0):
                  word=word+1
      char=char+1
if(char!=0):            
      word=word+1
print("Number of words is:")
print(word)
print("Number of characters is:")
print(char)

Enter string:It is a Amazing day
Number of words is:
5
Number of characters is:
19

#**8. Find the no of occurrences of a word in a string**

In [9]:
string1 = input("Enter string:")
string2 = input("Enter word:")
word = string1.split()
count = 0
for i in word:
   if i == string2:
      count=count+1
print(count)

Enter string:Best day was this day
Enter word:day
2