<a href="https://colab.research.google.com/github/Felomina75/Python_Workshop/blob/master/Day_2_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.**

In [1]:
n=int(input("Enter a number students:"))
d={(input('Enter the name:')):(input('enter the mark:')) for x in range(1,n+1)}
import operator
print("dictionary:")
print(d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("In descending:")
print(sorted_a)

Enter a number students:4
enter the mark:88
Enter the name:felo
enter the mark:89
Enter the name:ashwini
enter the mark:77
Enter the name:riya
enter the mark:67
Enter the name:diya
dictionary:
{'felo': '88', 'ashwini': '89', 'riya': '77', 'diya': '67'}
In descending:
[('ashwini', '89'), ('felo', '88'), ('riya', '77'), ('diya', '67')]

#**2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary**

In [3]:
n=int(input("Enter a number Employees:"))
d={(input('Enter the name:')):(input('enter the salary:')) for x in range(1,n+1)}
import operator
print("dictionary:")
print(d)
sorted_d = sorted(d.items(), key=operator.itemgetter(0))
print(sorted_d)

Enter a number Employees:3
enter the salary:89000
Enter the name:mmm
enter the salary:80000
Enter the name:hjk
enter the salary:79000
Enter the name:yhj
dictionary:
{'mmm': '89000', 'hjk': '80000', 'yhj': '79000'}
[('hjk', '80000'), ('mmm', '89000'), ('yhj', '79000')]

#**3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and sum, max, min and average of the salaries**

In [4]:
n=int(input("Enter a number employee:"))
d={(input('Enter the name:')):int(input('enter the salary:')) for x in range(1,n+1)}
import operator
print("dictionary:")
print(d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print("In ascending order salary:")
print(sorted_d)
print("sum:",sum(d.values()))
print("max:",max(d.values()))
print("min:",min(d.values()))
print("average:",sum(d.values())/n)

Enter a number employee:2
enter the salary:67000
Enter the name:uuu
enter the salary:78000
Enter the name:jjk
dictionary:
{'uuu': 67000, 'jjk': 78000}
In ascending order salary:
[('uuu', 67000), ('jjk', 78000)]
sum: 145000
max: 78000
min: 67000
average: 72500.0

#**4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000**

In [5]:
dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
res={key:val for key, val in dict.items() if val>2000 and val<4000}
print(res)

enter the no of employees3
Enter the namefelo
Enter the salary3000
Enter the namejoyson
Enter the salary3500
Enter the nameriya
Enter the salary1500
{'felo': 3000, 'joyson': 3500, 'riya': 1500}
{'felo': 3000, 'joyson': 3500}

#**5.	Python program to convert a 3 digit number  into words**

In [7]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'twohundred',300:'threehundred',400:'fourhundred',500:'fivehundred',600:'sixhundred',700:'sevenhundred',800:'eighthundred',900:'ninehundred'}
num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if(num>20 and num<1000):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 999:508
fivehundred eight

#**Files Exercises**
#**1.Python Program to count the total number of charaters (except blank space) in a text file.**

In [9]:
fname = input("Enter the name of the file:")
infile = open(fname, 'r')
lines = 0
words = 0
characters = 0
for line in infile:
    wordslist = line.split()
    lines = lines + 1
    words = words + len(wordslist)
    characters = characters + len(line)
print(characters)

Enter the name of the file:/content/new_file
13

#**2.Python Program to print all the numbers present in a text file with its total number of occurrence.**

In [10]:
fname = input("Enter the name of the file:")
infile = open(fname, 'r')
content = infile.readlines() 
a = 0
for line in content: 
    for i in line:  
        if i.isdigit() == True: 
          a=a+1
print("The total numbers in a text file is:", a)

Enter the name of the file:/content/new_file
The total numbers in a text file is: 3

#**3.Python Program to append the contents of one file to another file**

In [12]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /content/new_file
Enter file to be appended to: /content/first

#**4.Python Program to count the number of blank spaces in a text file.**

In [13]:
fname = input("Enter file name: ")
k = 0

with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: /content/new_file
Occurrences of blank spaces:
19

#**5.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .**

In [14]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
    for line in f:
        l=line.title()
        print(l)

Enter file name: /content/first
Good Morning

1 2 Hello 5